# MongoDB Atlas connection string (replace <username> and <password>)
MONGO_URI=mongodb+srv://<username>:<password>@Cluster0.mongodb.net/learn-together?retryWrites=true&w=majority
JWT_SECRET=<your_jwt_secret>
PORT=5000